.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modalHidden {
    display: none;
}

.modalContent {
    position: relative;
    width: 50dvw;
    height: 50dvh;
    padding: var(--padding-md);
    border: 1px solid var(--border);
    border-radius: var(--bd-rds-sm);
    background-color: var(--background);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: var(--fnt-sz-lg);
    font-weight: var(--fnt-wg-md);
    color: var(--primary);
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover {
        color: var(--shadown);
    }
}