.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 90dvh;
    padding: var(--padding-md);
    border-right: 2px solid var(--intermadiate);
    background-color: var(--background);

    .options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--gap-md);

        span {
            font-weight: var(--fnt-wg-xl);
        }
    }
}