.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100dvh;
    padding: var(--padding-md);
    background-color: var(--components);

    .options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--gap-md);

        span {
            font-weight: var(--fnt-wg-xl);
        }
    }
}